In [1]:
library(tidyverse)
library(ggthemes)
setwd("C:/A/FINAL/data")
getwd()

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

[1] "C:/A/FINAL/data"

In [2]:
load("usage.RData")
ls()

 [1] "c1"                         "c11"
 [3] "c12"                        "c13"
 [5] "c14"                        "c15"
 [7] "ccc"                        "cor_un"
 [9] "data_label"                 "extracted_data"
[11] "filename"                   "i"
[13] "kr_data"                    "ll"
[15] "lm_data"                    "mean_suicide_rate"
[17] "mycolors"                   "mydata"
[19] "nb.cols"                    "reason"
[21] "ref"                        "region_name"
[23] "region_name_KR"             "suicide_rate"
[25] "temp"                       "temp1"
[27] "the_whole_data_of_all_vars" "unsc_slct"
[29] "var_data"

In [3]:
unsc_slct <- unsc_slct %>% mutate(year = as.numeric(as.character(year)))

In [4]:
year <- unique(unsc_slct %>% select(year))
year

   year
1  2011
2  2012
3  2013
4  2014
5  2015
6  2016
7  2017
8  2018
9  2019
10 2020

In [5]:
aa <- tibble(r_squared = double(), 
             year  = double(), r_adj = double())
for(i in 2011:2020){
    temp <- summary(unsc_slct %>% filter(year == i) %>%
  lm(suicide_rate ~ temperature, data = .))

tt <- tibble(year = i, r_squared = temp$r.squared, r_adj = temp$adj.r.squared)

aa <- bind_rows(aa, tt)
}
relation_value_1 <- aa %>% relocate(year) %>%
                  mutate(year = as_factor(year), variable = 'temperature')
relation_value_1 %>% head

  year r_squared r_adj      variable
1 2011 0.2695249 0.21734806 temperature
2 2012 0.2029666 0.14603562 temperature
3 2013 0.1593572 0.09931133 temperature
4 2014 0.2740330 0.22217818 temperature
5 2015 0.2418042 0.18764732 temperature
6 2016 0.2487755 0.19511664 temperature

In [6]:
aa <- tibble(r_squared = double(), 
             year  = double(), r_adj = double())
for(i in 2011:2020){
    temp <- summary(unsc_slct %>% filter(year == i) %>%
  lm(suicide_rate ~ income_per_capita, data = .))

tt <- tibble(year = i, r_squared = temp$r.squared, r_adj = temp$adj.r.squared)

aa <- bind_rows(aa, tt)
}
relation_value_2 <- aa %>% relocate(year) %>%
                  mutate(year = as_factor(year), variable = 'income_per_capita')
relation_value_2 %>% head

  year r_squared r_adj     variable
1 2011 0.3987632 0.3558177 income_per_capita
2 2012 0.4540420 0.4150450 income_per_capita
3 2013 0.3365822 0.2891952 income_per_capita
4 2014 0.2762604 0.2245647 income_per_capita
5 2015 0.2815043 0.2301831 income_per_capita
6 2016 0.4706620 0.4328522 income_per_capita

In [7]:
aa <- tibble(r_squared = double(), 
             year  = double(), r_adj = double())
for(i in 2011:2020){
    temp <- summary(unsc_slct %>% filter(year == i) %>%
  lm(suicide_rate ~ divorce_number_per_population, data = .))

tt <- tibble(year = i, r_squared = temp$r.squared, r_adj = temp$adj.r.squared)

aa <- bind_rows(aa, tt)
}
relation_value_3 <- aa %>% relocate(year) %>%
                  mutate(year = as_factor(year), variable = 'divorce_number_per_population')
relation_value_3 %>% head

  year r_squared r_adj      variable
1 2011 0.2255146 0.17019423 divorce_number_per_population
2 2012 0.1890503 0.13112536 divorce_number_per_population
3 2013 0.4303561 0.38966721 divorce_number_per_population
4 2014 0.1815002 0.12303590 divorce_number_per_population
5 2015 0.1557177 0.09541177 divorce_number_per_population
6 2016 0.1269911 0.06463333 divorce_number_per_population

In [8]:
aa <- tibble(r_squared = double(), 
             year  = double(), r_adj = double())
for(i in 2011:2020){
    temp <- summary(unsc_slct %>% filter(year == i) %>%
  lm(suicide_rate ~ population, data = .))

tt <- tibble(year = i, r_squared = temp$r.squared, r_adj = temp$adj.r.squared)

aa <- bind_rows(aa, tt)
} 
relation_value_4 <- aa %>% relocate(year) %>%
                  mutate(year = as_factor(year), variable = 'population')
relation_value_4 %>% head

  year r_squared  r_adj        variable
1 2011 0.07316602  0.006963592 population
2 2012 0.10440799  0.040437128 population
3 2013 0.05751797 -0.009802173 population
4 2014 0.09950995  0.035189235 population
5 2015 0.07715023  0.011232392 population
6 2016 0.15549864  0.095177113 population

In [9]:
aa <- tibble(r_squared = double(), 
             year  = double(), r_adj = double())
for(i in 2011:2020){
    temp <- summary(unsc_slct %>% filter(year == i) %>%
  lm(suicide_rate ~ healthy_life, data = .))

tt <- tibble(year = i, r_squared = temp$r.squared, r_adj = temp$adj.r.squared)

aa <- bind_rows(aa, tt)
} 
relation_value_5 <- aa %>% relocate(year) %>%
                  mutate(year = as_factor(year), variable = 'healthy_life')
relation_value_5 %>% head

  year r_squared r_adj      variable
1 2011 0.2249215 0.16955878 healthy_life
2 2012 0.3538472 0.30769338 healthy_life
3 2013 0.3595016 0.31375166 healthy_life
4 2014 0.1329303 0.07099672 healthy_life
5 2015 0.1217336 0.05900026 healthy_life
6 2016 0.2060321 0.14932015 healthy_life

In [10]:
combined_cor <- tibble()
combined_cor <- bind_rows(combined_cor, relation_value_1)
combined_cor <- bind_rows(combined_cor, relation_value_2)
combined_cor <- bind_rows(combined_cor, relation_value_3)
combined_cor <- bind_rows(combined_cor, relation_value_4)
combined_cor <- bind_rows(combined_cor, relation_value_5)

combined_cor <- combined_cor %>% mutate(variable = as_factor(variable))
combined_cor %>% head()

  year r_squared r_adj      variable
1 2011 0.2695249 0.21734806 temperature
2 2012 0.2029666 0.14603562 temperature
3 2013 0.1593572 0.09931133 temperature
4 2014 0.2740330 0.22217818 temperature
5 2015 0.2418042 0.18764732 temperature
6 2016 0.2487755 0.19511664 temperature

In [11]:
write.csv(combined_cor, "lm_data.csv")