In [38]:
library(tidyverse)
library(ggthemes)
setwd("C:/A/FINAL/data")
getwd()

[1] "C:/A/FINAL/data"

In [39]:
load("usage.RData")
ls()

 [1] "aa"                         "c1"
 [3] "c11"                        "c12"
 [5] "c13"                        "c14"
 [7] "c15"                        "ccc"
 [9] "combined_cor"               "cor_un"
[11] "data_label"                 "extracted_data"
[13] "filename"                   "i"
[15] "kr_data"                    "ll"
[17] "lm_data"                    "mean_suicide_rate"
[19] "mycolors"                   "mydata"
[21] "nb.cols"                    "reason"
[23] "ref"                        "region_name"
[25] "region_name_KR"             "relation_value_1"
[27] "relation_value_2"           "relation_value_3"
[29] "relation_value_4"           "relation_value_5"
[31] "suicide_rate"               "temp"
[33] "temp1"                      "the_whole_data_of_all_vars"
[35] "tt"                         "unsc_slct"
[37] "var_data"                   "year"

In [40]:
unsc_slct <- unsc_slct %>% mutate(year = as.numeric(as.character(year)))

In [41]:
year <- unique(unsc_slct %>% select(year))
year <- c(year)
for(i in year){
    print(unsc_slct %>% filter(year == i))
}

# A tibble: 160 × 8
   region  year healthy_life temperature population divorce_number_per_populati…
   <fct>  <dbl>        <dbl>       <dbl>      <dbl>                        <dbl>
 1 강원    2011         23.7        10.5    1536448                      0.00232
 2 강원    2012         19.5        10.5    1538630                      0.00231
 3 강원    2013         21.9        11.2    1542263                      0.00242
 4 강원    2014         22.3        11.7    1544442                      0.00235
 5 강원    2015         21.8        12      1549507                      0.00225
 6 강원    2016         22.3        12      1550806                      0.00225
 7 강원    2017         20.8        11.5    1550142                      0.00210
 8 강원    2018         25.5        11.3    1543052                      0.00222
 9 강원    2019         24.8        12      1541502                      0.00235
10 강원    2020         23.9        11.7    1542840                      0.00218
# … with 150 more rows, and 2 more variables: income_per_capita <dbl>,
#   suicide_rate <dbl>

In [42]:
aa <- tibble(r_squared = double(), 
             year  = double(), r_adj = double(),
             p_value = double())
for(i in 2011:2020){
    temp <- summary(unsc_slct %>% filter(year == i) %>%
  lm(suicide_rate ~ temperature, data = .))
tt <- tibble(year = i, r_squared = temp$r.squared, r_adj = temp$adj.r.squared,
              p_value = temp$coefficients[, 4][2])
aa <- bind_rows(aa, tt)
}
relation_value_1 <- aa %>% relocate(year) %>%
                  mutate(year = as_factor(year), variable = 'temperature')
relation_value_1 %>% head

  year r_squared r_adj      p_value    variable
1 2011 0.2695249 0.21734806 0.03932433 temperature
2 2012 0.2029666 0.14603562 0.07990552 temperature
3 2013 0.1593572 0.09931133 0.12558089 temperature
4 2014 0.2740330 0.22217818 0.03743318 temperature
5 2015 0.2418042 0.18764732 0.05303811 temperature
6 2016 0.2487755 0.19511664 0.04922332 temperature

In [43]:
aa <- tibble(r_squared = double(), 
             year  = double(), r_adj = double(),
             p_value = double())
for(i in 2011:2020){
    temp <- summary(unsc_slct %>% filter(year == i) %>%
  lm(suicide_rate ~ temperature, data = .))

tt <- tibble(year = i, r_squared = temp$r.squared, r_adj = temp$adj.r.squared,
              p_value = temp$coefficients[, 4][2])

aa <- bind_rows(aa, tt)
}
relation_value_2 <- aa %>% relocate(year) %>%
                  mutate(year = as_factor(year), variable = 'income_per_capita')
relation_value_2 %>% head

  year r_squared r_adj      p_value    variable
1 2011 0.2695249 0.21734806 0.03932433 income_per_capita
2 2012 0.2029666 0.14603562 0.07990552 income_per_capita
3 2013 0.1593572 0.09931133 0.12558089 income_per_capita
4 2014 0.2740330 0.22217818 0.03743318 income_per_capita
5 2015 0.2418042 0.18764732 0.05303811 income_per_capita
6 2016 0.2487755 0.19511664 0.04922332 income_per_capita

In [44]:
aa <- tibble(r_squared = double(), 
             year  = double(), r_adj = double(),
             p_value = double())
for(i in 2011:2020){
    temp <- summary(unsc_slct %>% filter(year == i) %>%
  lm(suicide_rate ~ temperature, data = .))

tt <- tibble(year = i, r_squared = temp$r.squared, r_adj = temp$adj.r.squared,
              p_value = temp$coefficients[, 4][2])

aa <- bind_rows(aa, tt)
}
relation_value_3 <- aa %>% relocate(year) %>%
                  mutate(year = as_factor(year), variable = 'divorce_number_per_population')
relation_value_3 %>% head

  year r_squared r_adj      p_value    variable
1 2011 0.2695249 0.21734806 0.03932433 divorce_number_per_population
2 2012 0.2029666 0.14603562 0.07990552 divorce_number_per_population
3 2013 0.1593572 0.09931133 0.12558089 divorce_number_per_population
4 2014 0.2740330 0.22217818 0.03743318 divorce_number_per_population
5 2015 0.2418042 0.18764732 0.05303811 divorce_number_per_population
6 2016 0.2487755 0.19511664 0.04922332 divorce_number_per_population

In [45]:
aa <- tibble(r_squared = double(), 
             year  = double(), r_adj = double(),
             p_value = double())
for(i in 2011:2020){
    temp <- summary(unsc_slct %>% filter(year == i) %>%
  lm(suicide_rate ~ temperature, data = .))

tt <- tibble(year = i, r_squared = temp$r.squared, r_adj = temp$adj.r.squared,
              p_value = temp$coefficients[, 4][2])

aa <- bind_rows(aa, tt)
}
relation_value_4 <- aa %>% relocate(year) %>%
                  mutate(year = as_factor(year), variable = 'population')
relation_value_4 %>% head

  year r_squared r_adj      p_value    variable
1 2011 0.2695249 0.21734806 0.03932433 population
2 2012 0.2029666 0.14603562 0.07990552 population
3 2013 0.1593572 0.09931133 0.12558089 population
4 2014 0.2740330 0.22217818 0.03743318 population
5 2015 0.2418042 0.18764732 0.05303811 population
6 2016 0.2487755 0.19511664 0.04922332 population

In [46]:
aa <- tibble(r_squared = double(), 
             year  = double(), r_adj = double(),
             p_value = double())
for(i in 2011:2020){
    temp <- summary(unsc_slct %>% filter(year == i) %>%
  lm(suicide_rate ~ temperature, data = .))

tt <- tibble(year = i, r_squared = temp$r.squared, r_adj = temp$adj.r.squared,
              p_value = temp$coefficients[, 4][2])

aa <- bind_rows(aa, tt)
}
relation_value_5 <- aa %>% relocate(year) %>%
                  mutate(year = as_factor(year), variable = 'healthy_life')
relation_value_5 %>% head

  year r_squared r_adj      p_value    variable
1 2011 0.2695249 0.21734806 0.03932433 healthy_life
2 2012 0.2029666 0.14603562 0.07990552 healthy_life
3 2013 0.1593572 0.09931133 0.12558089 healthy_life
4 2014 0.2740330 0.22217818 0.03743318 healthy_life
5 2015 0.2418042 0.18764732 0.05303811 healthy_life
6 2016 0.2487755 0.19511664 0.04922332 healthy_life

In [47]:
combined_cor <- tibble()
combined_cor <- bind_rows(combined_cor, relation_value_1)
combined_cor <- bind_rows(combined_cor, relation_value_2)
combined_cor <- bind_rows(combined_cor, relation_value_3)
combined_cor <- bind_rows(combined_cor, relation_value_4)
combined_cor <- bind_rows(combined_cor, relation_value_5)

combined_cor <- combined_cor %>% mutate(variable = as_factor(variable))
combined_cor %>% head()

  year r_squared r_adj      p_value    variable
1 2011 0.2695249 0.21734806 0.03932433 temperature
2 2012 0.2029666 0.14603562 0.07990552 temperature
3 2013 0.1593572 0.09931133 0.12558089 temperature
4 2014 0.2740330 0.22217818 0.03743318 temperature
5 2015 0.2418042 0.18764732 0.05303811 temperature
6 2016 0.2487755 0.19511664 0.04922332 temperature

In [48]:
write.csv(combined_cor, "lm_data_pvalue.csv")

In [49]:
relation_value_1

   year r_squared   r_adj        p_value    variable
1  2011 0.269524853  0.217348057 0.03932433 temperature
2  2012 0.202966577  0.146035619 0.07990552 temperature
3  2013 0.159357241  0.099311329 0.12558089 temperature
4  2014 0.274032971  0.222178183 0.03743318 temperature
5  2015 0.241804162  0.187647316 0.05303811 temperature
6  2016 0.248775534  0.195116644 0.04922332 temperature
7  2017 0.064602121 -0.002212013 0.34214531 temperature
8  2018 0.028397971 -0.041002174 0.53270872 temperature
9  2019 0.006052561 -0.064943684 0.77458452 temperature
10 2020 0.022874337 -0.046920353 0.57607319 temperature